In [32]:
from __future__ import print_function, division
%matplotlib inline
import statsmodels.formula.api as smf  
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import sys
from scipy import stats
from fiona.crs import from_epsg
import shapely

In [33]:
#nyc open data API, you need apptoken to run this cell
from sodapy import Socrata
client = Socrata("data.cityofnewyork.us", os.getenv("apptoken"))

#### 311 Top 5 that have laglon in records

In [34]:
results = client.get("fhrw-4uyv",
                     select = "created_date, complaint_type, latitude, longitude",
                     where="created_date > '2013-01-01T00:00:12.000'",
                     limit=167000)
df = pd.DataFrame.from_records(results)
df.head()

,complaint_type,created_date,latitude,longitude
0,Noise - Residential,2017-08-27T00:17:09.000,40.79305387572195,-73.82362901281846
1,Blocked Driveway,2017-08-26T22:13:39.000,40.635390562953276,-74.02135114295945
2,Noise - Residential,2017-08-26T23:30:45.000,40.676080164805306,-73.96131304275177
3,Noise - Residential,2017-08-27T00:23:22.000,40.847514601225335,-73.90874235667427
4,Noise - Residential,2017-08-27T01:27:01.000,40.761575678058996,-73.92568893447253

In [35]:
df.dropna(inplace=True)
df.count()

complaint_type    151026
created_date      151026
latitude          151026
longitude         151026
dtype: int64

In [36]:
countgroup = df.groupby(by='complaint_type').count()
countgroup.reset_index(inplace=True)
countgroup.sort_values('created_date', ascending=False, inplace=True)

In [37]:
countgroup.head(10)

              complaint_type  created_date  latitude  longitude
58                  Graffiti         21065     21065      21065
89       Noise - Residential         12116     12116      12116
42         Electronics Waste         11108     11108      11108
68           Illegal Parking          6762      6762       6762
12          Blocked Driveway          5988      5988       5988
142     UNSANITARY CONDITION          5873      5873       5873
90   Noise - Street/Sidewalk          5267      5267       5267
154             Water System          4266      4266       4266
129         Street Condition          4193      4193       4193
130   Street Light Condition          4160      4160       4160

#top five
'Graffiti'
'Noise - Residential'
'Electronics Waste'
'Illegal Parking'
'Blocked Driveway'

In [38]:
results1 = client.get("fhrw-4uyv",
                     select = "created_date, complaint_type, latitude, longitude",
                     where="complaint_type='Noise - Residential' and created_date > '2013-01-01T00:00:12.000'",
                     limit=16700000)
dftop1 = pd.DataFrame.from_records(results1)
dftop1.head()

,complaint_type,created_date,latitude,longitude
0,Noise - Residential,2016-01-22T00:00:58.000,40.74639869446456,-73.92373536844984
1,Noise - Residential,2016-01-21T23:48:07.000,40.81975332877146,-73.9522007764116
2,Noise - Residential,2016-01-21T22:05:22.000,40.739598814750124,-73.92204711134542
3,Noise - Residential,2016-01-21T19:30:42.000,40.75426121652461,-73.93054450626512
4,Noise - Residential,2016-01-21T19:16:33.000,40.75426121652461,-73.93054450626512

In [39]:
results2 = client.get("fhrw-4uyv",
                     select = "created_date, complaint_type, latitude, longitude",
                     where="complaint_type='Electronics Waste' and created_date > '2013-01-01T00:00:12.000'",
                     limit=16700000)
dftop2 = pd.DataFrame.from_records(results2)
dftop2.head()

,complaint_type,created_date,latitude,longitude
0,Electronics Waste,2016-10-15T10:30:00.000,40.59233141774145,-74.08440614579655
1,Electronics Waste,2016-10-27T18:01:00.000,40.643758035828505,-74.07631307164182
2,Electronics Waste,2016-12-04T11:20:00.000,40.62490567192611,-74.14132919461646
3,Electronics Waste,2017-01-09T06:35:00.000,40.505848619646116,-74.23950334238465
4,Electronics Waste,2017-01-25T09:21:00.000,40.62401517852025,-74.11256974865324

In [40]:
results3 = client.get("fhrw-4uyv",
                     select = "created_date, complaint_type, latitude, longitude",
                     where="complaint_type='Illegal Parking' and created_date > '2013-01-01T00:00:12.000'",
                     limit=16700000)
dftop3 = pd.DataFrame.from_records(results3)
dftop3.head()

,complaint_type,created_date,latitude,longitude
0,Illegal Parking,2013-09-04T12:27:14.000,NaN,NaN
1,Illegal Parking,2017-08-01T10:08:28.000,40.705092892963336,-73.78349513895796
2,Illegal Parking,2017-08-01T09:36:17.000,40.705296608963046,-73.77104036881622
3,Illegal Parking,2017-08-02T14:20:51.000,40.713428813959176,-73.89895929775781
4,Illegal Parking,2017-08-03T20:24:21.000,40.59279825283227,-73.98837706244852

In [41]:
results4 = client.get("fhrw-4uyv",
                     select = "created_date, complaint_type, latitude, longitude",
                     where="complaint_type='Blocked Driveway' and created_date > '2013-01-01T00:00:12.000'",
                     limit=16700000)
dftop4 = pd.DataFrame.from_records(results4)
dftop4.head()

,complaint_type,created_date,latitude,longitude
0,Blocked Driveway,2016-01-21T22:35:43.000,40.756620735051385,-73.81017893154225
1,Blocked Driveway,2016-01-21T13:33:02.000,40.58981503207579,-73.96380415913065
2,Blocked Driveway,2016-01-21T12:59:42.000,40.63063599020575,-73.89659517677445
3,Blocked Driveway,2016-01-21T15:58:23.000,40.689817779761405,-73.8661524983311
4,Blocked Driveway,2016-01-21T18:55:00.000,40.688659208582926,-73.83622271420703

In [42]:
results5 = client.get("fhrw-4uyv",
                     select = "created_date, complaint_type, latitude, longitude",
                     where="complaint_type='Graffiti' and created_date > '2013-01-01T00:00:12.000'",
                     limit=16700000)
dftop5 = pd.DataFrame.from_records(results5)
dftop5.head()

,complaint_type,created_date,latitude,longitude
0,Graffiti,2017-06-29T07:43:30.000,40.66440998381232,-73.99033265650645
1,Graffiti,2017-07-10T10:57:49.000,40.814665167963135,-73.91883061617878
2,Graffiti,2017-07-10T14:47:37.000,40.69779412789359,-73.93670885584137
3,Graffiti,2017-07-10T12:18:20.000,40.70028544312668,-73.94562168025375
4,Graffiti,2017-07-10T11:49:38.000,40.67845463349782,-73.86872785053247

In [43]:
dftop1.shape

(986762, 4)

In [44]:
dftop2.shape

(15777, 4)

In [45]:
dftoptotal = pd.concat([dftop1, dftop2])
dftoptotal = pd.concat([dftoptotal, dftop3])
dftoptotal = pd.concat([dftoptotal, dftop4])
dftoptotal = pd.concat([dftoptotal, dftop5])
dftoptotal.shape

(2013043, 4)

In [46]:
dftoptotal.dropna(inplace=True)
dftoptotal.count()

complaint_type    2000317
created_date      2000317
latitude          2000317
longitude         2000317
dtype: int64

In [47]:
dftoptotal = dftoptotal.sample(frac=0.01)

In [48]:
# combine lat and lon to one column
dftoptotal['lonlat']=list(zip(dftoptotal.longitude.astype(float), dftoptotal.latitude.astype(float)))
# Create Point Geometry for based on lonlat column
dftoptotal['geometry']=dftoptotal[['lonlat']].applymap(lambda x:shapely.geometry.Point(x))
dftoptotal.head()

,complaint_type,created_date,latitude,longitude,lonlat,geometry
86981,Noise - Residential,2016-06-14T23:35:53.000,40.812149546291366,-73.94408165802088,"(-73.94408165802088, 40.812149546291366)",POINT (-73.94408165802088 40.81214954629137)
166502,Noise - Residential,2016-10-15T17:36:59.000,40.88718311738633,-73.90461560115159,"(-73.90461560115159, 40.88718311738633)",POINT (-73.90461560115159 40.88718311738633)
69367,Noise - Residential,2016-05-21T23:46:12.000,40.669925616391204,-73.89148029496046,"(-73.89148029496046, 40.669925616391204)",POINT (-73.89148029496046 40.6699256163912)
22118,Blocked Driveway,2016-04-03T09:25:29.000,40.84906822070742,-73.89591223550404,"(-73.89591223550404, 40.84906822070742)",POINT (-73.89591223550404 40.84906822070742)
221974,Illegal Parking,2015-09-12T16:47:44.000,40.595950285864376,-73.75410245027925,"(-73.75410245027925, 40.595950285864376)",POINT (-73.75410245027925 40.59595028586438)

In [49]:
dftoptotal = gpd.GeoDataFrame(dftoptotal)
dftoptotal.crs = from_epsg(4326)

dftoptotal = gpd.GeoDataFrame(dftoptotal)
dftoptotal.crs = from_epsg(4326)

map

In [50]:
censusblock = gpd.read_file("nyc_census_blocks/nycb2010.shp")
censusblock.head()

,CB2010,BoroCode,BoroName,CT2010,BCTCB2010,Shape_Leng,Shape_Area,geometry
0,1000,5,Staten Island,000900,50009001000,2508.948115,244589.603884,"POLYGON ((962269.1260375977 173705.5001831055,..."
1,1000,5,Staten Island,002001,50020011000,1345.886422,111006.286826,"POLYGON ((964642.2676391602 161835.2651977539,..."
2,1000,5,Staten Island,002700,50027001000,1703.381172,150406.766022,"POLYGON ((963363.1168212891 167356.3336181641,..."
3,1000,5,Staten Island,004000,50040001000,1511.173743,141296.561149,"POLYGON ((960069.9965820312 161953.6936035156,..."
4,1000,5,Staten Island,006400,50064001000,1978.243852,200784.983607,"POLYGON ((963023.891784668 158246.7521972656, ..."

In [51]:
censusblock.crs = from_epsg(2263)
#censusblock = censusblock.to_crs(epsg=4326)

In [52]:
censusblock.head()

,CB2010,BoroCode,BoroName,CT2010,BCTCB2010,Shape_Leng,Shape_Area,geometry
0,1000,5,Staten Island,000900,50009001000,2508.948115,244589.603884,"POLYGON ((962269.1260375977 173705.5001831055,..."
1,1000,5,Staten Island,002001,50020011000,1345.886422,111006.286826,"POLYGON ((964642.2676391602 161835.2651977539,..."
2,1000,5,Staten Island,002700,50027001000,1703.381172,150406.766022,"POLYGON ((963363.1168212891 167356.3336181641,..."
3,1000,5,Staten Island,004000,50040001000,1511.173743,141296.561149,"POLYGON ((960069.9965820312 161953.6936035156,..."
4,1000,5,Staten Island,006400,50064001000,1978.243852,200784.983607,"POLYGON ((963023.891784668 158246.7521972656, ..."

In [53]:
dftoptotal.crs = from_epsg(4326)
dftoptotal = dftoptotal.to_crs(epsg=2263)
dftoptotal.reset_index(inplace=True)
dftoptotal

,index,complaint_type,created_date,latitude,longitude,lonlat,geometry
0,86981,Noise - Residential,2016-06-14T23:35:53.000,40.812149546291366,-73.94408165802088,"(-73.94408165802088, 40.812149546291366)",POINT (999728.9999907895 235170.0144247717)
1,166502,Noise - Residential,2016-10-15T17:36:59.000,40.88718311738633,-73.90461560115159,"(-73.90461560115159, 40.88718311738633)",POINT (1010623.999984276 262517.014441938)
2,69367,Noise - Residential,2016-05-21T23:46:12.000,40.669925616391204,-73.89148029496046,"(-73.89148029496046, 40.669925616391204)",POINT (1014353.999982167 183367.0143914943)
3,22118,Blocked Driveway,2016-04-03T09:25:29.000,40.84906822070742,-73.89591223550404,"(-73.89591223550404, 40.84906822070742)",POINT (1013046.999982846 248633.0144332564)
4,221974,Illegal Parking,2015-09-12T16:47:44.000,40.595950285864376,-73.75410245027925,"(-73.75410245027925, 40.595950285864376)",POINT (1052538.999959651 156493.0143737737)
5,436485,Illegal Parking,2017-06-16T11:14:06.000,40.785375068218684,-73.80546754314581,"(-73.80546754314581, 40.785375068218684)",POINT (1038120.999967983 225470.01441856)
6,149566,Noise - Residential,2016-09-18T00:40:41.000,40.71315252614694,-73.95089928581771,"(-73.95089928581771, 40.71315252614694)",POINT (997861.9999919296 199101.0144017182)
7,473465,Blocked Driveway,2017-11-15T09:11:50.000,40.67620400511047,-73.90851531109448,"(-73.90851531109448, 40.67620400511047)",POINT (1009625.999984966 185649.0143929826)
8,133318,Blocked Driveway,2017-03-02T22:37:49.000,40.88944047578409,-73.85780099100222,"(-73.85780099100222, 40.88944047578409)",POINT (1023566.999976552 263357.0144424475)
9,70481,Graffiti,2015-07-25T16:10:47.000,40.815338051522204,-73.82705983363964,"(-73.82705983363964, 40.815338051522204)",POINT (1032119.99997152 236374.0144254871)
10,171930,Blocked Driveway,2017-06-17T07:24:06.000,40.62992363775041,-74.16178497641874,"(-74.16178497641874, 40.62992363775041)",POINT (939343.0000265626 168816.0143819559)
11,234313,Blocked Driveway,2013-07-11T06:11:56.000,40.69778952690002,-73.84915064589899,"(-73.84915064589899, 40.69778952690002)",POINT (1026078.999975207 193536.0143980755)
12,205750,Illegal Parking,2015-07-13T18:38:48.000,40.710742822932275,-73.89411190617037,"(-73.89411190617037, 40.710742822932275)",POINT (1013605.999982593 198237.0144011387)
13,597309,Noise - Residential,2014-05-25T17:33:23.000,40.6462847491377,-73.90052401995524,"(-73.90052401995524, 40.6462847491377)",POINT (1011854.999983663 174751.0143858755)
14,38916,Graffiti,2013-04-30T10:03:15.000,40.85074580260156,-73.90617153813557,"(-73.90617153813557, 40.85074580260156)",POINT (1010207.999984544 249241.0144336386)
15,368305,Noise - Residential,2017-09-02T22:55:33.000,40.68971024143896,-73.95272310228043,"(-73.95272310228043, 40.68971024143896)",POINT (997360.999992232 190560.0143961824)
16,394783,Noise - Residential,2013-02-09T21:05:26.000,40.87628246342609,-73.9028304631379,"(-73.9028304631379, 40.87628246342609)",POINT (1011121.999983981 258546.0144394682)
17,733467,Noise - Residential,2015-01-20T06:31:08.000,40.73510334084488,-73.85028940413089,"(-73.85028940413089, 40.73510334084488)",POINT (1025739.99997538 207130.01440685)
18,376925,Blocked Driveway,2015-05-10T23:41:10.000,40.767192138564546,-73.91119175809096,"(-73.91119175809096, 40.767192138564546)",POINT (1008849.999985387 218798.0144143545)
19,100687,Noise - Residential,2016-07-03T13:53:06.000,40.66712072379101,-73.88888949090969,"(-73.88888949090969, 40.66712072379101)",POINT (1015073.999981748 182346.0143908286)
20,477962,Blocked Driveway,2017-11-26T03:30:54.000,40.69147515746691,-73.83040653549722,"(-73.83040653549722, 40.69147515746691)",POINT (1031280.999972129 191245.014396583)
21,551687,Noise - Residential,2014-02-19T20:45:31.000,40.81670121082458,-73.88579649938848,"(-73.88579649938848, 40.81670121082458)",POINT (1015860.999981194 236844.0144258173)
22,406214,Blocked Driveway,2015-08-31T17:12:45.000,40.748037167137205,-73.89257652515568,"(-73.89257652515568, 40.748037167137205)",POINT (1014014.999982329 211825.0144098887)
23,210532,Blocked Driveway,2013-01-28T12:30:56.000,40.57577476680645,-73.9619399004256,"(-73.9619399004256, 40.57577476680645)",POINT (994822.9999937585 149049.0143689612)
24,80706,Noise - Residential,2016-06-05T12:48:11.000,40.87082609370836,-73.89358942657188,"(-73.89358942657188, 40.87082609370836)",POINT (1013679.999982465 256561.0144382161)
25,315017,Illegal Parking,2016-07-15T10:44:15.000,40.69436136298629,-73.84303515509394,"(-73.84303515509394, 40.69436136298629)",POINT (1027776.999974207 192290.014397263)
26,391013,Illegal Parking,2017-02-21T03:00:17.000,40.730471254118676,-73.89921488864199,"(-73.89921488864199, 40.730471254118676)",POINT (1012182.999983422 205423.0144057765)
27,427433,Blocked Driveway,2015-11-11T00:45:35.000,40.68652183515534,-73.83679045763382,"(-73.83679045763382, 40.68652183515534)",POINT (1029513.999973183 189437.0143954119)
28,329414,Blocked Driveway,2014-11-08T00:07:28.000,40.70405361560777,-73.83170900652775,"(-73.83170900652775, 40.70405361560777)",POINT (1030910.999972337 195827.0143995447)
29,56783,Blocked Driveway,2016-07-23T08:55:42.000,40.6559378198243,-73.90334963499076,"(-73.90334963499076, 40.6559378198243)",POINT (1011066.999984126 178267.0143881738)
...,...,...,...,...,...,...,...
19973,57998,Noise - Residential,2016-05-05T03:29:41.000,40.7614509488059,-73.77482532667834,"(-73.77482532667834, 40.7614509488059)",POINT (1046628.999962953 216774.014412985)
19974,211501,Illegal Parking,2015-08-03T12:58:05.000,40.660976774843306,-73.8451717935232,"(-73.8451717935232, 40.660976774843306)",POINT (1027205.999974568 180126.0143893625)
19975,155094,Illegal Parking,2014-11-25T18:12:09.000,40.83794634038959,-73.94246623196891,"(-73.94246623196891, 40.83794634038959)",POINT (1000169.999990524 244569.0144307046)
19976,635063,Noise - Residential,2014-07-26T21:43:47.000,40.75324141228486,-73.85959321977009,"(-73.85959321977009, 40.75324141228486)",POINT (1023150.999976903 213734.0144110879)
19977,450064,Noise - Residential,2013-06-23T02:17:11.000,40.64414183139177,-73.96109373421746,"(-73.96109373421746, 40.64414183139177)",POINT (995046.9999936108 173957.0143853709)
19978,867814,Noise - Residential,2015-09-12T13:48:46.000,40.8841786180058,-73.8961574296168,"(-73.8961574296168, 40.8841786180058)",POINT (1012963.999982881 261425.0144412458)
19979,280336,Illegal Parking,2016-04-07T00:25:49.000,40.62421676542261,-74.04078228643623,"(-74.04078228643623, 40.62421676542261)",POINT (972929.0000066978 166698.0143806086)
19980,281079,Noise - Residential,2017-05-01T07:28:03.000,40.76294840547969,-73.9306617923416,"(-73.9306617923416, 40.76294840547969)",POINT (1003457.999988591 217247.0144133739)
19981,85462,Noise - Residential,2016-06-12T19:34:15.000,40.807462634839666,-73.94074062850945,"(-73.94074062850945, 40.807462634839666)",POINT (1000654.999990247 233463.0144236889)
19982,477747,Noise - Residential,2013-08-24T10:58:59.000,40.83621010660156,-73.85370825386958,"(-73.85370825386958, 40.83621010660156)",POINT (1024730.999975905 243965.0144303046)
19983,725072,Noise - Residential,2015-01-03T03:14:50.000,40.59153553612144,-74.06764436795817,"(-74.06764436795817, 40.59153553612144)",POINT (965463.0000111025 154796.0143727627)
19984,61301,Illegal Parking,2013-03-09T23:14:50.000,40.74650377812568,-73.97596426322653,"(-73.97596426322653, 40.74650377812568)",POINT (990909.9999960461 211249.0144095318)
19985,189404,Illegal Parking,2015-05-12T21:46:31.000,40.726196569032695,-73.88906519285356,"(-73.88906519285356, 40.726196569032695)",POINT (1014997.999981758 203869.0144047745)
19986,133775,Noise - Residential,2016-08-27T02:19:16.000,40.651171593015285,-73.93228435572932,"(-73.93228435572932, 40.651171593015285)",POINT (1003039.999988881 176523.0143870531)
19987,389356,Blocked Driveway,2015-06-24T07:37:08.000,40.7735746453006,-73.90223657969017,"(-73.90223657969017, 40.7735746453006)",POINT (1011327.999983914 221126.0144158384)
19988,112358,Illegal Parking,2014-04-03T23:12:44.000,40.629939362412614,-73.95840721933905,"(-73.95840721933905, 40.629939362412614)",POINT (995794.9999931671 168783.0143819746)
19989,259043,Illegal Parking,2016-01-25T00:27:30.000,40.74253285300033,-73.88033727759354,"(-73.88033727759354, 40.74253285300033)",POINT (1017408.999980319 209824.0144085914)
19990,645840,Noise - Residential,2014-08-15T00:21:28.000,40.81397304560469,-73.91440960151618,"(-73.91440960151618, 40.81397304560469)",POINT (1007941.999985907 235841.0144251926)
19991,309572,Noise - Residential,2017-06-10T23:28:44.000,40.683962358741724,-73.95901531778908,"(-73.95901531778908, 40.683962358741724)",POINT (995616.9999932662 188465.0143948237)
19992,90963,Illegal Parking,2013-10-27T10:39:07.000,40.78336411841062,-73.77718863083497,"(-73.77718863083497, 40.78336411841062)",POINT (1045953.999963328 224756.0144180721)
19993,117565,Noise - Residential,2016-07-29T20:52:00.000,40.821117548688946,-73.85421835180499,"(-73.85421835180499, 40.821117548688946)",POINT (1024598.999975989 238466.0144268196)
19994,53942,Noise - Residential,2016-04-30T16:32:27.000,40.69486451742089,-73.9792140115764,"(-73.9792140115764, 40.69486451742089)",POINT (990013.9999965763 192435.014397407)
19995,174339,Noise - Residential,2016-10-30T00:42:39.000,40.838556472269445,-73.86464980249872,"(-73.86464980249872, 40.838556472269445)",POINT (1021701.9999777 244815.0144308395)
19996,746975,Noise - Residential,2015-02-18T19:31:40.000,40.69100762408813,-73.82074371763515,"(-73.82074371763515, 40.69100762408813)",POINT (1033960.999970536 191080.0143964673)
19997,628040,Noise - Residential,2014-07-12T06:17:06.000,40.69652703440024,-73.79894699096349,"(-73.79894699096349, 40.69652703440024)",POINT (1040000.999966959 193104.0143977578)
19998,278827,Blocked Driveway,2014-03-05T16:41:39.000,40.585493830210055,-73.98412281646203,"(-73.98412281646203, 40.585493830210055)",POINT (988659.9999973978 152588.0143713178)
19999,594006,Noise - Residential,2014-05-21T22:47:07.000,40.735234226355324,-73.88002563237525,"(-73.88002563237525, 40.735234226355324)",POINT (1017498.999980271 207165.0144068875)
20000,273404,Blocked Driveway,2014-02-13T13:37:47.000,40.772748806394894,-73.90592761463415,"(-73.90592761463415, 40.772748806394894)",POINT (1010305.999984521 220824.0144156454)
20001,127588,Blocked Driveway,2017-02-13T13:53:24.000,40.747393836652755,-73.88577094976566,"(-73.88577094976566, 40.747393836652755)",POINT (1015900.999981209 211593.0144097382)
20002,77102,Illegal Parking,2013-07-15T16:19:28.000,40.75001436377456,-73.94436840979924,"(-73.94436840979924, 40.75001436377456)",POINT (999663.9999908463 212532.0144103542)

In [ ]:
dftoptotal

In [54]:
total = gpd.sjoin(
    censusblock, dftoptotal, how='left', op='within')
total.head()

,CB2010,BoroCode,BoroName,CT2010,BCTCB2010,Shape_Leng,Shape_Area,geometry,index_right,index,complaint_type,created_date,latitude,longitude,lonlat
0,1000,5,Staten Island,000900,50009001000,2508.948115,244589.603884,"POLYGON ((962269.1260375977 173705.5001831055,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,5,Staten Island,002001,50020011000,1345.886422,111006.286826,"POLYGON ((964642.2676391602 161835.2651977539,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000,5,Staten Island,002700,50027001000,1703.381172,150406.766022,"POLYGON ((963363.1168212891 167356.3336181641,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000,5,Staten Island,004000,50040001000,1511.173743,141296.561149,"POLYGON ((960069.9965820312 161953.6936035156,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000,5,Staten Island,006400,50064001000,1978.243852,200784.983607,"POLYGON ((963023.891784668 158246.7521972656, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

total.dropna()

In [25]:
total.to_csv('top5_since_2013.csv')

#### standing water 311 only

In [26]:
results = client.get("fhrw-4uyv",
                     select = "unique_key, created_date, complaint_type, descriptor, latitude, longitude",
                     where="complaint_type='Standing Water' and created_date > '2013-01-01T00:00:12.000'",
                     limit=16700000, order="created_date")
df = pd.DataFrame.from_records(results)
df.head()

,complaint_type,created_date,descriptor,latitude,longitude,unique_key
0,Standing Water,2013-01-05T13:44:31.000,Swimming Pool - Unmaintained,40.62144994711384,-74.16408066097868,24728741
1,Standing Water,2013-01-07T15:59:43.000,Swimming Pool - Unmaintained,40.62695470252081,-74.17964263529007,24740658
2,Standing Water,2013-02-11T19:54:14.000,Swimming Pool - Unmaintained,40.62695470252081,-74.17964263529007,24978704
3,Standing Water,2013-03-04T10:36:13.000,Swimming Pool - Unmaintained,40.7796595881746,-73.84060984867408,25111897
4,Standing Water,2013-03-09T11:33:39.000,Swimming Pool - Unmaintained,40.577025434643666,-74.12718139854422,25149129

In [27]:
df.complaint_type.unique()

array(['Standing Water'], dtype=object)

In [28]:
df.dropna(inplace=True)
df.count()

complaint_type    14258
created_date      14258
descriptor        14258
latitude          14258
longitude         14258
unique_key        14258
dtype: int64

In [29]:
df.to_csv('standing_water_since_2013.csv')